/*Base Rules*/
body {
  margin-right: 5%;
  margin-left: 5%;
}

h1 {
    text-align: center;
    font-size: 250%;
}

h2 {
    text-align: center;
    font-size: 100%;
}

p {
  text-align: left;
}

img {
  margin-left: 35%;
  margin-bottom: 2%;
  margin-top: 2%;
}

/*Module Rules*/
.date {
  border-bottom: thin solid #000;
  padding-bottom: 1%;
}

.sub-header {
  font-size: 130%;
}

#content-padding {
  width: 60%;
  margin-left: 25%;
}

.code-examples {
  width: 40%;
}

.description-text {
  margin: 0 0 2% 0;
  text-align: center;
}