/*Base Rules*/
h1 {
    text-align: center;
    font-size: 250%;
}

h2 {
    text-align: center;
    margin-right: 150px;
    font-size: 100%;
}

p {
  text-align: left;
}

section {
  width: 85%;
  border-left: solid;
  border-top: solid;
  padding: 30px;
  float: right;
}

img {
  margin-left: 25%;
  margin-bottom: 2%;
  margin-top: 2%;
}

/*Module Rules*/
footer {
  background-color: #939393;
}

.date {
  padding-bottom: 1%;
}

.sub-header {
  font-size: 130%;
}

#content-padding {
  width: 60%;
  margin-left: 25%;
}

.code-examples {
  width: 40%;
}

.description-text {
  margin: 0 0 2% 0;
  text-align: center;
}

.side_nav {
  list-style: none;
}

.side_nav li {
  margin-bottom: 20px;
}

#first_nav {
  margin-left: 70px;
}

#second_nav {
  margin-right: 70px;
  float: right;
}

/*State Rules*/
a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  text-decoration: underline;
}
