form {
  margin: 0 auto;
  width: 500px;
}

input, textarea {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 15px;
  border-radius: 5px;
}

input {
  width: 400px;
  height: 30px;
}

textarea {
  width: 400px;
  height: 200px;
  padding-top: 10px;
  padding-left:10px;
  line-height: 20px;
}

label {
  font-size: 20px;
}

#submit_button {
  width: 70px;
  position: relative;
  left: 140px;
  background-color: #939393;
  color: #fff;
}

#submit_button:hover {
  background-color: #7f7f7f;
}

input:focus, textarea:focus {
  box-shadow: #5dc5d3;
}