form {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  width: 500px;
}

h2 {
  font-size: 50px;
}

input, textarea {
  display: block;
  font-size: 15px;
  border-radius: 5px;
}

input {
  width: 600px;
  height: 30px;
}

textarea {
  width: 600px;
  height: 200px;
  padding-top: 10px;
  padding-left:10px;
  line-height: 20px;
}

label {
  margin-top: 20px;
  font-size: 20px;
}

#submit-button {
  margin-top: 30px;
  position: relative;
  left: 250px;
  background-color: #000;
  color: #fff;
}

input:focus, textarea:focus {
  box-shadow: #5dc5d3;
}