/*Base Rules*/
h1 {
  font-size: 300%;
}

ul {
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 0;
}

li {
  display: inline-block;
}

a {
   color: #000 !important;
}

img {
    max-width: 90%;
    max-height: 50%;
    margin-top: 60px;
    margin-bottom: 100px;
}

footer {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

/*Module Rules*/
nav {
    margin-top: 30px;
    border-radius: 0 !important;
}

ul .nav-info:first-child {
  margin-left: 30%;
}

.nav-info  {
  font-size: 130%;
  margin-right: 5%;
}

.nav-info a {
 color: #fff !important;
}

.footer-info a {
 color: #fff !important;
 font-size: 130%;
}

.footer-info:last-child {
  color: #fff;
}



/*State Rules*/
a:hover {
  text-decoration: underline;
  color: #000 !important;
}
